.editWrapper{
    position: fixed;  
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#bbddff, #88aed4,#749dc7, #a5a3b7, #9fa1b2, #9bafcc, #7d92b1, #697fa1);
    background-size: 400% 400%;
    animation: gradientMove 5s infinite linear;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.editContainer{
    background-color: #edf0f4;
    box-shadow: 6px 5px 7px 0px rgba(0, 0, 0, 0.2), 6px 5px 20px 0px rgba(0, 0, 0, 0.1) inset;
    display: flex;
    width: 55%;
    height: 92.5%;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0rem 3rem 1rem;
    border-radius: 30px;
}

.editNavigation {

}

.editField {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    margin-bottom: 0.8rem;
}

.editTitleInput {
    padding: 15px 0px 10px 15px;
    background-color: #F3F5F8;
    color: #000000; /* Text color */
    border: none; /* Remove default border */
    border: 1px solid #B5CBED;
    font-size: 25px;
    border-radius: 10px;
    transition: border 0.1s ease;
}

.editTitleInput::placeholder {
    color: #b4b4b4; /* Change placeholder color */
    opacity: 4;  /* Ensure full visibility */
}

.editTitleInput:focus {
    border: 2px solid #B5CBED; /* Increase border width */
    outline: none;
}

.editContentArea { 
    padding: 15px 0px 10px 15px;
    color: #000000; /* Text color */
    background-color: #F3F5F8;
    color: #000000; /* Text color */
    border: none; /* Remove default border */
    outline: none; /* Remove focus outline */
    font-size: 25px;
    border: 1px solid #B5CBED; 
    border-radius: 10px;
    height: 85%;
}

.editContentArea::placeholder {
    color: #b4b4b4; /* Change placeholder color */
    opacity: 4;  /* Ensure full visibility */
    font-weight: 0;
  }

.editContentArea:focus {
    border: 2px solid #B5CBED; /* Increase border width */
    outline: none;
}

.editButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.editSaveButton {
    background: none;
    border: none;
    color:#E8EAE5;
    background-color: #749dc7;
    font-size: 20px;
    margin: 5px;
    padding: 10px 33.1px; 
    border-radius: 10px;
}

.editDeleteButton {
    background: none;
    border: none;
    color:#E8EAE5;
    text-decoration: none;
    background-color: #749dc7;
    font-size: 20px;
    padding: 10px 25px; 
    margin:5px;
    border-radius: 10px;
    border: 1px solid #B5CBED; 
    border-radius: 10px;

}

@media (max-width: 1250px) {
    .editContainer{
        width: 57%;
        height: 93%;
        padding: 0rem 2.5rem 1rem;
    }

    .editField {
        gap: 1rem;
    }   
    
}
@media (max-width: 1100px) {
    .editContainer{
        width: 65%;
        height: 93%;
        gap: 0rem;
        padding: 0rem 2rem 1rem;
    } 
    .editButton {
        margin-top: 0.3rem;
    }
    .editSaveButton {
        margin: 7px;
    }
    
    .editDeleteButton {
        margin:7px;
    
    }
}
@media (max-width: 850px) {
    .editContainer{
        width: 85%;
        height: 90%;
        flex-direction: column;
        gap: 0rem;
        padding: 0rem 2rem 2rem;
    }
}

@media (max-width: 680px) {
    .editWrapper {
        background: #6185a9;
        overflow: hidden;
    }
     
    .editContainer {
        background-color: #F3F5F8;
        box-shadow: none;
        display: flex;
        width: 100%; 
        height: 98%; 
        flex-direction: column;
        justify-content:flex-start;
        gap: 0rem;
        padding: 0rem 1.5rem;
        border-top: 7px solid #6185a9;
        border-bottom: 7px solid #6185a9;
        border-left: 7px solid #6185a9;
        border-right: 7px solid #6185a9;
        border-radius: 0px;    
    }
    
    .editField {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        height: 74.5%;
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .editTitleInput {
        padding: 10px 0px 10px 10px;
        background-color: transparent;
        color: #000000; /* Text color */
        border: 0.1px solid #B5CBED; 
        font-size: 20px;
        border-radius: 10px;
        transition: border 0.1s ease; 
    }
    

    
    .editContentArea { 
        font-size:20px;
        padding: 10px 0px 10px 10px;
        height:80%;
    }
    
    
    .editSaveButton {
        background: none;
        border: none;
        color:#E8EAE5;
        background-color: #749dc7;
        font-size: 20px;
        padding: 10px 33.1px; 
        border-radius: 10px;
    
    }
    .editDeleteButton {
        background: none;
        border: none;
        color:#E8EAE5;
        text-decoration: none;
        background-color: #749dc7;
        font-size: 20px;
        padding: 10px 25px; 
        border-radius: 10px;
        border: 1px solid #B5CBED; 
        border-radius: 10px;
    }
}
@media (max-width: 490px) {
    .editContainer{
        width: 100%;
        height: 98%;
        gap: 0rem;
        padding:0rem 1rem;
    }
    
    .editNavigation {
    
    }
    
    .editField {
        gap: 0.5rem;
        height: 83%;
    }  
   
    .editButton {
        margin-top:-2.5rem;
    }
}

@media (max-width: 410px) {
    .editContainer{
    }
    
    .editNavigation {
    
    }
    
    .editField {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        height:85%;
    } 
    .editButton{
        margin-top:-2rem;
    }
}

